/* Media query para el iPhone X en modo vertical */
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
    .content {
        background-size: 100% auto; /* Ajustar el tamaño del fondo al ancho de la pantalla y mantener la altura original */
        min-height: auto; /* Restaurar la altura automática en el iPhone X */
    }

    .buttonSearch, .button {
        margin-top: 1rem; /* Ajustar el espacio entre los botones en el iPhone X */
        width: 80%; /* Ajustar el ancho de los botones en el iPhone X */
    }
}

/* Media queries para pantallas medianas (tabletas) */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    .content {
        background-size: cover; /* Mantener el fondo cubierto en pantallas medianas */
    }

    .buttonSearch, .button {
        margin-top: 2rem; /* Restaurar el espacio entre los botones en pantallas medianas */
        width: 45%; /* Reducir el ancho de los botones en pantallas medianas */
    }
}

/* Media queries para pantallas grandes (escritorio) */
@media only screen and (min-width: 1025px) {
    .buttonSearch, .button {
        margin-top: 2rem; /* Restaurar el espacio entre los botones en pantallas grandes */
        width: 100px; /* Restaurar el ancho de los botones en pantallas grandes */
    }
}

main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #0F1632, #2E4398);
    box-sizing: inherit;
    position: relative;
}


.button-action {
    background-color: rgba(248, 246, 246, 0.1);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100px;
    font-size: 1rem;
    margin-top: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
}


.content {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    /* background-image: linear-gradient(to bottom, #0F1632, #2E4398); */
    margin: 0;
    padding: 0;
    text-align: center;
}


.header {
    display: flex;
    justify-content: flex-start;
    padding: 5px;
    padding-top: 1rem;
}

.input-action {
    background-color: transparent;
    border-color: white;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    width: 600px;
}


.logo {
    width: 15%;
    /* Ajusta el tamaño del logotipo según sea necesario */
}
.card {
    width: 170px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 20%;
    margin-left: 55px;
    margin-right: 5px;
    flex: 0 0 auto;
    scroll-snap-align: start;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.card h3 {
    margin-top: 2px;
    color: white;
    font-size: 1rem;
    margin-bottom: 1px;
    text-align: center;
}

.card-container {
    display: flex;
    flex-wrap: nowrap;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    overflow-x: hidden; /* Elimina el scroll horizontal */
    overflow-y: auto; /* Ajusta el scroll vertical según sea necesario */
}



.button-prev,
.button-next {
    background-color: rgba(0, 0, 0, 0.5);
    height: 8%;
    width: 4%;
    color: white;
    border: none;
    border-radius: 50%; /* Cambiado a 50% para hacer el botón más circular */
    padding: 0;
    font-size: 1rem;
    cursor: pointer;
    position: absolute;
    top: 60%;
    transform: translateY(-10%);
    z-index: 1;
    display: flex ;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    line-height: 100%;
}

.button-prev {
    left: 10px;
}

.button-next {
    right: 10px;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
